a {
    color:green;
    font-weight:bold;
}

#google-link {
    font-style:italic;
}

.bing-links {
    color:blue;
}

.arial-font {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}