a {
    color:chartreuse;
    font-weight:bold;
}

#bing-link1 {
    color:aqua; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bing-link3 {
    color:blue;
}

.arial-font {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}